.movie-poster {
    height: 290px;
    img {
        height: 100%;
        width: 185px;
    }
}

.movie-card {
    margin-bottom: 50px;
}

.custom-prm-btn {
    background: #7F5AE7;
    color: white;
    font-size: 20px;
    padding: 8px 45px;
}

.movie-trending-list {
    .btn {
        margin-top: 30px;
    }
}

.movie-block {
    margin-bottom: 50px;
    margin-top: 50px;
}